name: Pipeline
on:
  push:
    branches:
      - main
      - gh-actions

  pull_request:
    branches:
      - main 
      - gh-actions

jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    steps:
      # checkoiut
      - name: Fetch code /Checkout code
        run: actions/checkout@v4
      
      #install packages
      - name: install dependencies
        run: npm install
      
      #install playwright
      - name: install playwright
        run: npx playwright install
      
      #pull docker image
      - name: Pull Docker image
        run: docker pull intelligent_haslett/my-vue-app:v1
      
      #start application
      - name: Start the application
        run: docker run -d -p 3000:3000 intelligent_haslett/my-vue-app:v1

      #wait until the application is up
      - name: Wait until the application is up
        run: npx wait-on http://localhost:3000 
      
      #run tests
      - name: Run tests
        run: npm run run-tests
      
      #publish results
      - name: Save test result as artifacts
        uses: actions/upload-artifacts@v4
        with: 
          name: playwright-test-results
          path: ./playwright-report


#jobs: 
#  run-automated-tests: 
#    runs-on: ubuntu-latest
#    steps: 
#      - name: Checkout code / Fetch code
#        uses: actions/checkout@v4
#      
#      - name: Setup Node.js version
#        uses: actions/setup-node@v4
#        with:
#          node-version: '20'
#
#      - name: Install node packages
#        run: npm install
#      
#      - name: Restore database
#        run: cat db_BACKUP.json > db.json
#      
#      - name: Start application
#        run: npm run server &
#      
#      - name: Run tests
#        run: npm run run-tests
#
#      - name: Save test run artifacts
#        uses: actions/upload-artifact@v4
#        with:
#          name: playwright-test-results
#          path: ./playwright-report
#          if-no-files-found: warn
#          include-hidden-files: false